/* ----- GLOBALS ----- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ----- HEADER ----- */

header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    padding: 45px 15px;
}

#logo {
    width: 260px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ----- MAIN ----- */

main {
    max-width: 1080px;
    margin: auto;
}

/* ----- FOOTER ----- */

footer {
    text-align: center;
    font-size: 12px;
}

/* ----- LISTE OEUVRES ----- */

#liste-oeuvres {
    display: flex;
    flex-wrap: wrap;
}

.oeuvre {
    width: 33.33%;
    padding: 15px;
}

.oeuvre img {
    width: 100%;
}

.oeuvre h2, #detail-oeuvre h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 30px;
}

.oeuvre .description, #detail-oeuvre .description {
    font-style: italic;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 20px;
}

/* ----- DETAIL OEUVRE ----- */

#detail-oeuvre {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 14px;
    padding: 0 15px;
}

#img-oeuvre {
    margin-right: 25px;
}

#img-oeuvre img {
    max-width: 470px;
    margin: auto;
    display: block;
}

#contenu-oeuvre {
    max-width: 470px;
}

/* ----- AJOUT OEUVRE ----- */

body{
    max-width: 1200px;
    margin: auto;
    padding: 2vw;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td > *{
    margin: auto;
}

.form_search {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 16px;
    justify-content: start;
}

.form_search > *{
    height: fit-content;
    margin: auto 0 0 0;
}

.form_search input[type="submit"]{
    margin: auto 0 0 0;
}

.inputCouple{
    display: flex;
    flex-direction: column;
}

input{
    padding: 8px;
    border-radius: 4px;
}

input[type="submit"]{
    min-width: 120px;
    height: fit-content;
    padding: 4px 8px;
    margin: auto 0;
    cursor: pointer;
}

input[type="submit"][value="add"]{
    background-color: green;
    color: white;
    border: none;
}

input[type="submit"][value="search"]{
    background-color: #EEEEEE;
    color: black;
    border: 1px solid #111111;
}

input[type="submit"][value="update"]{
    background-color: darkorange;
    color: white;
    border: none;
    margin-bottom: 8px;
}

input[type="submit"][value="delete"]{
    background-color: darkred;
    color: white;
    border: none;
}

input[type="file"]{
    display: none;
}

.fileBtn{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    margin: 0;
    position: relative;

    --after-opacity: 0;
    --after-visibility: hidden;
}

.fileBtn img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileBtn.shadow{
    border: 2px solid #333333;
    height: 80px;
    width: 80px;
    font-size: 32px;
    font-weight: bold;
}

.fileBtn::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #33333377;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid greenyellow;
    color: greenyellow;
    font-size: 32px;
    font-weight: bold;
    margin: auto;
    content: "🢙";
    opacity: var(--after-opacity);
    visibility: var(--after-visibility);
    cursor: pointer;

    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, color 0.2s ease-in-out;
}

.fileBtn:hover{
    --after-opacity: 1;
    --after-visibility: visible;
    color: transparent;
}

.pageSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px;
}

.pageSelect > *{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.form_search .input_description{
    grid-column: 1/3;
}

#confirmPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 16px;
    border: 2px solid #111111;
    border-radius: 4px;

    width: fit-content;
    height: fit-content;
    min-width: 400px;
    min-height: 200px;

    background-color: white;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#confirmPopup p{
    margin: auto;
}

#confirmPopup.active{
    visibility: visible;
    opacity: 1;
}

#confirmPopup.add{
    border-color: green;
}

#confirmPopup.update{
    border-color: darkorange;
}

#confirmPopup.delete{
    border-color: darkred;
}

#confirmPopup.error{
    border-color: red;
}

#confirmPopup .action{
    font-weight: bold;
}

#confirmPopup.add .action{
    color: green;
}

#confirmPopup.update .action{
    color: darkorange;
}

#confirmPopup.delete .action{
    color: darkred;
}

#confirmPopup.error .action{
    color: red;
}

p.error{
    padding: 8px;
    color: red;
    border: 1px solid red;
}

td, th{
    border: 1px solid #111111;
    padding: 4px;
}

@media (max-width: 850px) {
    .oeuvre {
        width: 50%;
    }

    #img-oeuvre {
        margin-right: 0;
        width: 100%;
    }

    #img-oeuvre img {
        width: 100%;
    }

    #contenu-oeuvre {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .oeuvre {
        width: 100%;
    }

    #logo {
        width: 200px;
    }
}

.notFound a{
    color: blue;
}   